#mainBanner {
    position: absolute; 
    display: flex;
    top: 0; 
    left: 0px;
    background-color: #000000;
    width: 100dvw; 
    height: 10dvh;
    min-height: 10dvh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#homeButton {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 7px;
    width: 10%;
    min-width: 90px;
    max-height: 10dvh;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}

.electionButtons {
    display: inline-block;
    left: 10%;
    width: 10%;
    min-width: 70px;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    transition: all .5s ease;
}

#aboutButton {
    display: inline-block;
    right: 0%;
    width: 10%;
    min-width: 70px;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    transition: all .5s ease;
}

.electionButtons:hover, #aboutButton:hover {
    transition: all .5s ease;
    background-color: #ffffff;
    color: #000000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 60px;
  max-height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  text-align: center;
  overflow: scroll;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #c6c6c6;
}

/* #iframe {
    position: absolute;
    top: 10%;
    left: -1px;
    display: inline-block;
    border: none;
    height: 90dvh;
    width: 100dvw;
} */

.shiftUnderneathMainBanner {
    position: absolute;
    top: 10%;
}

#current_election_text {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute; 
    top: 10%; 
    right: 5%; 
    z-index: 2
}

.aboutParagraph {
    text-align: left;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100dvw;
}

#parliamentChartButton {
    display: flex;
    bottom: 12dvh;
    left: 1%;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    z-index: 5;
    width: 3dvh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: all .5s ease;
}

#parliamentChartButton:hover {
    transition: all .5s ease;
    background-color: #ffffff;
    color: #000000;
}

#parliamentChartButton:active {
    transition: all .4s ease;
    transform: rotate(180deg);
}

#parliamentChart {
    position: absolute;
    margin-left: 3dvw;
    bottom: 1dvh;
}

.Liberal_dot, .Opposition_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #EE3224; 
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Conservative_dot, .Unionist_dot, .National-Government_dot, .Progressive-Conservative_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #0F2D52;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Anti-Confederation_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #F58220;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Vacant_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #b6b6b6;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Independent_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #b6b6b6;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Nationalist-Conservative_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #800080;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Patrons-of-Industry_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #A52A2A;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.McCarthyite_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#009A44;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Green_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#3D9B35;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
} 

.NDP_dot, .New-Democratic_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#F58220;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Bloq-Quebecois_dot, .Bloc-populaire_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#00A7EC;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Labour_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#FF8ADC;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Progressive_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#0DBA13;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.United-Farmers-of-Alberta_dot, .United-Farmers-of-Ontario_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#C0BD07;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Liberal-Progressive_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#00DCB0;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Social-Credit_dot, .New-Democracy_dot, .Ralliement_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#005F00;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Co-operative-Commonwealth-Federation_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#FF9900;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Reconstruction-Party_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#F5F5DC;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.United-Reform_dot, .Labor-Progressive_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#C00767;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Liberal-Labour_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#A91CB9;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.No-Affiliation_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#000000;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

#form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
#form:focus-within,
#form:hover,
#form:valid{
    width: 30dvh;
    cursor: pointer;
}

#form:hover input,
#form:focus-within input,
#form:valid input {
    width: 100%;
} 

#form:hover .fa,
#form:focus-within .fa,
#form:valid .fa {
    background: #07051a;
    color: white;
}

#searchButton {
    display: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    padding: 4px;
    min-height: max-content;
    background: transparent;
    outline: 0;
    border: 1px solid #303030;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}

#form:valid button {
    display: block;
    z-index: 1;
}

#searchBarContainer {
    position: relative;
    display: inline-block;
    top: 106px;
    left: 12dvh;
    z-index: 1;
}

#searchResults {
    position: absolute;
    display: inline-block;
    top: 19dvh;
    left: 13dvh;
    max-height: 30dvh;
    overflow: scroll;
    border-radius: 10px;
    z-index: 1;
}

#searchResults.scrollable {
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 0%,
        black calc(100% - 40px),
        transparent 100%
    );

    mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 93%,
        transparent 100%
    );
}

/* HIDE mask-image IF SCROLLED TO BOTTOM OF RESULTS TABLE */
#searchResults.at-bottom {
    mask-image: none;
    -webkit-mask-image: none;
}

.results-table {
    font-family: 'Verdana';
    width: 200px;
    font-size: small;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
    z-index: 1;
}

.scrolled .results-table thead:nth-of-type(2) th {
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.5);
    transition: all .5s ease;
}

.scrolled .results-table .searchResultsColumns th {
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.5);
    transition: all .5s ease;
}

.results-table .searchResultsColumns th {
    transition: all .5s ease;
}

.results-table thead:nth-of-type(2) th {
    transition: all .5s ease;
}

thead {
    background: #000000;
    color: whitesmoke;
}

th, td {
  padding: 0.5rem;
}

#ridingHeader, #ridingHeader th {
    position: sticky;
    top: 0;
}

/* STICKY HEADERS FOR DISTRICT VOTING RESULTS HEADERS */
.results-table:has(#ridingHeader) #districtResultsColumns {
    position: sticky;
    top: 15%;
}

.results-table:has(#ridingHeader) #districtResultsColumns th {
    position: sticky;
    top: 15%;
}
/* STICKY HEADERS FOR SEARCH RESULTS HEADERS */
.searchResultsColumns, .searchResultsColumns th {
    position: sticky;
    top: 0;
}

#ridingHeader {
    font-size: large;
}

/* ONLY DARKEN TABLE ROWS IF SEARCH RESULTS, NOT IF VOTING RESULTS*/
.results-table.results-table:not(:has(#ridingHeader)) tbody tr {
    transition: all 0.3s ease;
}

.results-table.results-table:not(:has(#ridingHeader)) tbody tr:hover {
    background-color: #c6c6c6;
    transition: all 0.3s ease;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance:none;
}

#map {
    position: absolute;
    top: 10%;
    left: -1px;
    height: 90dvh;
    width: 100dvw;
    z-index: -10;
}

#legend {
    position: absolute;
    bottom: 4dvh;
    right: 1dvh;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: 'Verdana';
    font-size: small;

}

.legend-title {
    margin-top: 1dvh;
    text-align: center;
    font-weight: bold;
}

.legend-labels {
    position: relative;
    margin-right: 1dvh;
    padding-left: 1dvh;
    list-style-type: none;
}

.legendPartySquares {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: 1dvh;
}

.fifth_row, .fourth_row, .third_row, .second_row, .first_row, .sixth_row,
.thirteenth_row, .twelfth_row, .eleventh_row, .tenth_row, .ninth_row,
.eighth_row, .seventh_row {
    margin-left: 1rem;
}

.Liberal_dot:hover, .Conservative_dot:hover, .Anti-Confederation_dot:hover,
.Vacant_dot:hover, .Independent_dot:hover, .Nationalist-Conservative_dot:hover,
.Patrons-of-Industry_dot:hover, .McCarthyite_dot:hover, .Green_dot:hover, .NDP_dot:hover,
.Bloq-Quebecois_dot:hover, .Labour_dot:hover, .Unionist_dot:hover, .Opposition_dot:hover, 
.United-Farmers-of-Alberta_dot:hover, .Progressive_dot:hover,
.United-Farmers-of-Ontario_dot:hover, .Liberal-Progressive_dot:hover,
.Social-Credit_dot:hover, .Co-operative-Commonwealth-Federation_dot:hover,
.Reconstruction-Party_dot:hover, .National-Government_dot:hover, .New-Democracy_dot:hover,
.United-Reform_dot:hover, .Progressive-Conservative_dot:hover, .Bloc-populaire_dot:hover,
.Labor-Progressive_dot:hover, .Liberal-Labour_dot:hover, .New-Democratic_dot:hover,
.Ralliement_dot:hover, .No-Affiliation_dot:hover {
    height: 1rem;
    width: 1rem;
    transition: all .5s ease;
}

@media only screen and (max-width: 600px) {
        .Liberal_dot, .Conservative_dot, .Anti-Confederation_dot,
.Vacant_dot, .Independent_dot, .Nationalist-Conservative_dot,
.Patrons-of-Industry_dot, .McCarthyite_dot, .Green_dot, .NDP_dot,
.Bloq-Quebecois_dot, .Labour_dot, .Unionist_dot, .Opposition_dot,
.Progressive_dot, .United-Farmers-of-Alberta_dot, 
.United-Farmers-of-Ontario_dot, .Liberal-Progressive_dot,
.Social-Credit_dot, .Co-operative-Commonwealth-Federation_dot,
.Reconstruction-Party_dot, .National-Government_dot, 
.New-Democracy_dot, .United-Reform_dot, .Progressive-Conservative_dot,
.Bloc-populaire_dot, .Labor-Progressive_dot, .Liberal-Labour_dot,
.New-Democratic_dot, .Ralliement_dot, .No-Affiliation_dot {
            height: 0.31rem;
            width: 0.31rem;
            margin: 0.03rem;
        }
        .first_row, .second_row, .third_row, .fourth_row,
.fifth_row, .sixth_row, .seventh_row, .eighth_row,
.ninth_row, .tenth_row, .eleventh_row, .twelfth_row,
.thirteenth_row, .speaker_row {
        margin-top: -10px;
    }

    #parliamentChart {
        margin-left: 6dvw;
        bottom: 5dvh;
    }

    .Liberal_dot:hover, .Conservative_dot:hover, .Anti-Confederation_dot:hover,
.Vacant_dot:hover, .Independent_dot:hover, .Nationalist-Conservative_dot:hover,
.Patrons-of-Industry_dot:hover, .McCarthyite_dot:hover, .Green_dot:hover, .NDP_dot:hover,
.Bloq-Quebecois_dot:hover, .Labour_dot:hover, .Unionist_dot:hover, .Opposition_dot:hover,
.United-Farmers-of-Alberta_dot:hover, .Progressive_dot:hover,
.United-Farmers-of-Ontario_dot:hover, .Liberal-Progressive_dot:hover,
.Social-Credit_dot:hover, .Co-operative-Commonwealth-Federation_dot:hover,
.Reconstruction-Party_dot:hover, .National-Government_dot:hover,
.New-Democracy_dot:hover, .United-Reform_dot:hover, .Progressive-Conservative_dot:hover,
.Bloc-populaire_dot:hover, .Labor-Progressive_dot:hover, .Liberal-Labour_dot:hover,
.New-Democratic_dot:hover, .Ralliement_dot:hover, .No-Affiliation_dot:hover {
            height: 0.5rem;
            width: 0.5rem;
        }

    .fifth_row, .fourth_row, .third_row, .second_row, .first_row, .sixth_row,
.thirteenth_row, .twelfth_row, .eleventh_row, .tenth_row, .ninth_row,
.eighth_row, .seventh_row {
    margin-left: 0.5rem;
}

    #searchResults {
        top: 21dvh;
        left: 1dvh;
        max-height: 20dvh;
    }

    .results-table {
        max-width: 30dvh;
        font-size: xx-small; /* VERIFY THAT THIS IS NOT TOO SMALL */
    }

    #ridingHeader {
        font-size: x-small; /* VERIFY THAT THIS IS NOT TOO SMALL */
    }

    th, td {
        padding: 0.25rem;
    }

    /* FIX DISTRICT VOTING RESULTS HEADERS */
    .results-table:has(#ridingHeader) #districtResultsColumns {
        top: 12%;
    }

    .results-table:has(#ridingHeader) #districtResultsColumns th {
        top: 12%;
    }

    #parliamentChartButton {
        width: 20px;
        font-size: small;
    }

    }
