#mainBanner {
    position: absolute; 
    display: flex;
    top: 0; 
    left: 0px;
    background-color: #000000;
    width: 100dvw; 
    height: 10dvh;
    min-height: 10dvh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#homeButton {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 7px;
    width: 10%;
    min-width: 90px;
    max-height: 10dvh;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}

.electionButtons {
    display: inline-block;
    left: 10%;
    width: 10%;
    min-width: 70px;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    transition: all .5s ease;
}

#aboutButton {
    display: inline-block;
    right: 0%;
    width: 10%;
    min-width: 70px;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    transition: all .5s ease;
}

.electionButtons:hover, #aboutButton:hover {
    transition: all .5s ease;
    background-color: #ffffff;
    color: #000000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  max-height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  overflow: scroll;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

#iframe {
    position: absolute;
    top: 10%;
    left: -1px;
    display: inline-block;
    border: none;
    height: 90dvh;
    width: 100dvw;
}

#current_election_text {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute; 
    top: 10%; 
    right: 5%; 
    z-index: 2
}

.aboutParagraph {
    text-align: left;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100dvw;
}

#parliamentChartButton {
    display: flex;
    bottom: 12dvh;
    left: 1%;
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    display: inline-block;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: all .5s ease;
}

#parliamentChartButton:hover {
    transition: all .5s ease;
    background-color: #82d2c3;
    color: #000000;
}

#parliamentChartButton:active {
    transition: all .4s ease;
    transform: rotate(180deg);
}

#parliamentChart {
    position: absolute;
    margin-left: 3dvw;
    bottom: 1dvh;
}

.Liberal_dot, .Opposition_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #EE3224; 
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Conservative_dot, .Unionist_dot, .National-Government_dot, .Progressive-Conservative_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #0F2D52;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Anti-Confederation_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #F58220;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Vacant_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #b6b6b6;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Independent_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #b6b6b6;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Nationalist-Conservative_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #800080;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Patrons-of-Industry_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color: #A52A2A;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.McCarthyite_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#009A44;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Green_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#3D9B35;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
} 

.NDP_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#F58220;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Bloq-Quebecois_dot, .Bloc-populaire_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#00A7EC;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Labour_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#FF8ADC;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Progressive_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#0DBA13;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.United-Farmers-of-Alberta_dot, .United-Farmers-of-Ontario_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#C0BD07;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Liberal-Progressive_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#00DCB0;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Social-Credit_dot, .New-Democracy_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#005F00;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Co-operative-Commonwealth-Federation_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#FF9900;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Reconstruction-Party_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#F5F5DC;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.United-Reform_dot, .Labor-Progressive_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#C00767;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.Liberal-Labour_dot {
    bottom: 10%;
    height: 0.62rem;
    width: 0.62rem;
    margin: 0.07rem;
    background-color:#A91CB9;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s ease;
}

.fifth_row, .fourth_row, .third_row, .second_row, .first_row, .sixth_row,
.thirteenth_row, .twelfth_row, .eleventh_row, .tenth_row, .ninth_row,
.eighth_row, .seventh_row {
    margin-left: 1rem;
}

.Liberal_dot:hover, .Conservative_dot:hover, .Anti-Confederation_dot:hover,
.Vacant_dot:hover, .Independent_dot:hover, .Nationalist-Conservative_dot:hover,
.Patrons-of-Industry_dot:hover, .McCarthyite_dot:hover, .Green_dot:hover, .NDP_dot:hover,
.Bloq-Quebecois_dot:hover, .Labour_dot:hover, .Unionist_dot:hover, .Opposition_dot:hover, 
.United-Farmers-of-Alberta_dot:hover, .Progressive_dot:hover,
.United-Farmers-of-Ontario_dot:hover, .Liberal-Progressive_dot:hover,
.Social-Credit_dot:hover, .Co-operative-Commonwealth-Federation_dot:hover,
.Reconstruction-Party_dot:hover, .National-Government_dot:hover, .New-Democracy_dot:hover,
.United-Reform_dot:hover, .Progressive-Conservative_dot:hover, .Bloc-populaire_dot:hover,
.Labor-Progressive_dot:hover, .Liberal-Labour_dot:hover {
    height: 1rem;
    width: 1rem;
    transition: all .5s ease;
}

@media only screen and (max-width: 600px) {
        .Liberal_dot, .Conservative_dot, .Anti-Confederation_dot,
.Vacant_dot, .Independent_dot, .Nationalist-Conservative_dot,
.Patrons-of-Industry_dot, .McCarthyite_dot, .Green_dot, .NDP_dot,
.Bloq-Quebecois_dot, .Labour_dot, .Unionist_dot, .Opposition_dot,
.Progressive_dot, .United-Farmers-of-Alberta_dot, 
.United-Farmers-of-Ontario_dot, .Liberal-Progressive_dot,
.Social-Credit_dot, .Co-operative-Commonwealth-Federation_dot,
.Reconstruction-Party_dot, .National-Government_dot, 
.New-Democracy_dot, .United-Reform_dot, .Progressive-Conservative_dot,
.Bloc-populaire_dot, .Labor-Progressive_dot, .Liberal-Labour_dot {
            height: 0.31rem;
            width: 0.31rem;
            margin: 0.03rem;
        }
        .first_row, .second_row, .third_row, .fourth_row,
.fifth_row, .sixth_row, .seventh_row, .eighth_row,
.ninth_row, .tenth_row, .eleventh_row, .twelfth_row,
.thirteenth_row, .speaker_row {
        margin-top: -10px;
    }

    #parliamentChart {
        margin-left: 6dvw;
        bottom: 5dvh;
    }

    .Liberal_dot:hover, .Conservative_dot:hover, .Anti-Confederation_dot:hover,
.Vacant_dot:hover, .Independent_dot:hover, .Nationalist-Conservative_dot:hover,
.Patrons-of-Industry_dot:hover, .McCarthyite_dot:hover, .Green_dot:hover, .NDP_dot:hover,
.Bloq-Quebecois_dot:hover, .Labour_dot:hover, .Unionist_dot:hover, .Opposition_dot:hover,
.United-Farmers-of-Alberta_dot:hover, .Progressive_dot:hover,
.United-Farmers-of-Ontario_dot:hover, .Liberal-Progressive_dot:hover,
.Social-Credit_dot:hover, .Co-operative-Commonwealth-Federation_dot:hover,
.Reconstruction-Party_dot:hover, .National-Government_dot:hover,
.New-Democracy_dot:hover, .United-Reform_dot:hover, .Progressive-Conservative_dot:hover,
.Bloc-populaire_dot:hover, .Labor-Progressive_dot:hover, .Liberal-Labour_dot:hover {
            height: 0.5rem;
            width: 0.5rem;
        }

    .fifth_row, .fourth_row, .third_row, .second_row, .first_row, .sixth_row,
.thirteenth_row, .twelfth_row, .eleventh_row, .tenth_row, .ninth_row,
.eighth_row, .seventh_row {
    margin-left: 0.5rem;
}
    }
