<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="View an interactive {{ electionYear }} Canadian election map. 
        See the results of any federal district in the {{ electionYear }} Canadian federal election.">
    <meta name="keywords" content="canadian, elections, maps, 1867, 1872, 1874, 1882,
     1887, 1891, 1896, 1900, 1904, 1908, 1911, 1917, 1921, 1925, 1926,
     1930, 1935, 1940, 1945, 1949, 1953, 1957, 1958, 1962, 1963, 1965, 
     1968, 1972, 1974, 1979, 2019, 2021, federal, results, 
     interactive, canada">
    <title>{{ electionYear }} Canadian Election Map</title>
    <link rel="stylesheet" href="/main/elections_style.css">
    <script type="module" src="/main/elections_functions.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/main/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/main/favicon/favicon-32x32.png?v=3">
    <link rel="icon" type="image/png" sizes="16x16" href="/main/favicon/favicon-16x16.png?v=3">
    <link rel="icon" type="image/x-icon" sizes="any" href="/main/favicon/favicon.ico?v=3">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div id="mainBanner">
            <h1 id="homeButton">Canadian Elections</h1>
        <div>
            <button id="button1867" class="electionButtons">1867</button>
        </div>
        <div>
            <button id="newestElection" class="electionButtons">2021</button>
        </div>
        <div class="dropdown">
            <button class="electionButtons" id="moreButton">More</button>
            <div class="dropdown-content" style="display: none">
                <a>1867</a>
                <a>1872</a>
                <a>1874</a>
                <a>1878</a>
                <a>1882</a>
                <a>1887</a>
                <a>1891</a>
                <a>1896</a>
                <a>1900</a>
                <a>1904</a>
                <a>1908</a>
                <a>1911</a>
                <a>1917</a>
                <a>1921</a>
                <a>1925</a>
                <a>1926</a>
                <a>1930</a>
                <a>1935</a>
                <a>1940</a>
                <a>1945</a>
                <a>1949</a>
                <a>1953</a>
                <a>1957</a>
                <a>1958</a>
                <a>1962</a>
                <a>1963</a>
                <a>1965</a>
                <a>1968</a>
                <a>1972</a>
                <a>1974</a>
                <a>1979</a>
                <a>2019</a>
                <a>2021</a>
            </div>
        </div>
        <div>
            <button id="aboutButton">About</button>
        </div>
    </div>
    <div id="searchBarContainer">
        <div id="form">
            <input id="searchBar" type="search" placeholder="Candidate or District..." autofocus required>
            <i class="fa fa-search"></i>
            <button id="searchButton"></button>
        </div>
    </div>
    <div id="searchResults"></div>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script type="module" src="/main/map_template.js"></script>


    <div id="current_election_text">{{ electionYear }}</div>
    <button id="parliamentChartButton">></button>
    <div id="parliamentChart" style="display: none;">
    </div>

    <div id="legend">
        <div class="legend-title">Party</div>
        <div class="legend-scale">
            <ul class="legend-labels">
            </ul>
        </div>
    </div>
</body>
</html>