name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    tags:
      - '0.0.*'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Dockerhub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

    - name: Extract metadata tags for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/canadianelections
        tags: |
          type=semver,pattern={{version}} # e.g., 1.0.0
          type=semver,pattern={{major}}.{{minor}} # e.g., 1.0
          type=semver,pattern={{major}} # e.g., 1
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
